.chordbuilder {
    background: var(--alt-main);
    display: flex;
    flex-direction: row;
}

.chordbuilder button {
    background: var(--alt-main);
    padding: 2px;
    /* border-radius: 2px; */
    margin: 1px 0px;
}

.chordbuilder button.colored {
    background: var(--main);
}

.chordbuilder button.selected {
    background: var(--active);
}
