$black: #050707;
$babyblue: #ecf1f2;
$white: #f3f5f9;
$yellow: #f4d800;
$coolgray: #53565a;

.fretboard {
    border: 1px solid $black;
}

.fretboard .strings {
    background: $black;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 10px;
    color: $white;
}

.fretboard .strings ul {
    border: 1px solid $white;
}

.fretboard .strings ul li {
    border-right: 1px solid $white;
}

.fretNumber {
    padding: 10px;
    background: $white;
    
}

ul {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;

    li {
        list-style: none;
        display: inline-block;
        flex: 1;
    }
}

.fretboard.reverse ul {
    flex-direction: row-reverse;
}
