$black: #050707;
$babyblue: #ecf1f2;
$white: #f3f5f9;
$yellow: #f4d800;
$coolgray: #53565a;

.fretboard {
    background: $babyblue;
}

.fretNumber {
    
}

ul {
    display: flex;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;

    li {
        list-style: none;
        display: inline-block;
        flex: 1;
    }
}
