.nav {
    position: fixed;
    width: 60px;
    height: 100%;
    background: var(--main);
    transition: width 500ms;
    overflow: hidden;
    z-index: 100;
    box-shadow: var(--shadow);
}

.nav:hover,
.nav.active {
    width: 300px;
    overflow-y: auto;
}

.nav .logo {
    width: 100%;
    height: 60px;
    display: flex;
}

.nav .logo .icon {
    padding-right: 5px;
}

.nav .logo .title {
    font-weight: 900;
    line-height: 60px;
}

.nav .buttons {
    height: calc(100% - 60px);
}

.menu {
    /* height: calc(100vh - 60px); */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.nav button {
    border: none;
    width: 100%;
    height: 60px;
    display: flex;
    background: var(--colored);
    color: var(--text2);
    margin: 0;
    transition: background 500ms, color 500ms;
}

.nav .icon {
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
}

.nav .icon.reverse {
    transform: scaleX(-1);
}

.nav .icon.text {
    font-weight: 500;
    line-height: 56px;
}

.nav .title {
    padding: 0 10px;
    line-height: 55px;
    text-align: start;
    white-space: nowrap;
}

.nav .chevron {
    line-height: 63px;
    margin-left: auto;
    padding-right: 8px;
    white-space: nowrap;
}

.nav .trash {
    margin-left: auto;
    padding-right: 8px;
    white-space: nowrap;
    min-width: 60px;
    height: 60px;
}

.nav .trash button {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 500ms, color 500ms;
}

.nav button:hover .trash button:hover {
    background-color: var(--colored);
}

.nav button:hover {
    background: var(--main);
    color: var(--text);
    cursor: pointer;
}

.nav button:hover .trash button {
    color: var(--text);
    background-color: var(--main);
}

.contact {
    width: 100%;
    margin-top: auto;
    padding-bottom: 20px;
}

.contact button:hover {
    background: var(--active);
    color: var(--text2)
}

.contact a {
    text-decoration: none;
    width: 60px;
    text-align: center;
    color: var(--text2);
    font-size: 26px;
    padding: 0px 10px;
    transition: background 500ms, color 500ms;
}

.contact a:hover {
    background-color: var(--main);
    color: var(--text)
}

.contact .title {
    padding: 0px;
    color: var(--text);
    display: flex;
    line-height: 68px;
}

/* animations */
.menu-primary-enter {
    position: absolute;
    /* transform: translateX(-110%); */
    opacity: 0;
    width: 300px;
}

.menu-primary-enter-active {
    /* transform: translateX(0%); */
    opacity: 1;
    transition: all 250ms ease;
}

.menu-primary-exit {
    position: absolute;
    width: 300px;
}

.menu-primary-exit-active {
    /* transform: translateX(-110%); */
    opacity: 0;
    transition: all 250ms ease;
}

.menu-secondary-enter {
    position: absolute;
    /* transform: translateX(110%); */
    opacity: 0;
    width: 300px;
}

.menu-secondary-enter-active {
    /* transform: translateX(0%); */
    opacity: 1;
    transition: all 250ms ease;
}

.menu-secondary-exit {
    position: absolute;
}

.menu-secondary-exit-active {
    /* transform: translateX(110%); */
    opacity: 0;
    transition: all 250ms ease;
}
