@import url("https://fonts.googleapis.com/css2?family=Besley&family=Codystar&display=swap");

:root {
    --text: #000000;
    --main: #3a0ca3;
    --alt-main: #210e4b;
    --inner: #e7c6ff;
    --active: #f72585;
    --fretboard-background: #d9d9d9;
    --deegres-background: #4361ee;
    --scale-name-background: #7209b7;
    --text2: #ffffff;
}

#darktheme {
    --text: #f3f5f9;
}

body {
    background: var(--inner);
    color: var(--text);
    font-family: Besley;
}

button {
    border: none;
}

.content {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
}

.prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 450px;
    transform: scale(1) translate(-50%, -50%);
    background: var(--inner);
    border-radius: 5px;
    overflow: auto;
}

.prompt .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: var(--alt-main);
    color: var(--text2);
}

.prompt .head button {
    background: var(--main);
    color: var(--inner);
    border-radius: 30px;
    min-width: 30px;
    height: 30px;
    margin-left: 5px;
    padding: 5px;
}

.prompt .head button:hover {
    background: var(--active);
}

.prompt .prompt-content {
    height: calc(100% - 48px);
}

.prompt .prompt-content form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.prompt .prompt-content form .inner {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}

.prompt .prompt-content form .inner .tunings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 20px;
}

.prompt .prompt-content form .inner .tunings div,
.prompt .prompt-content form .inner .tunings div input {
    margin: 5px;
}

.prompt .prompt-content form .inner .tunings div label {
    padding: 5px;
}

.prompt .prompt-content form .inner label,
.prompt .prompt-content form .inner input {
    margin: 4px 0px;
}

.prompt .prompt-content form #submit {
    min-height: 40px;
    background: var(--main);
    border: none;
    margin-top: auto;
}

.prompt .prompt-content form #submit:hover {
    background: var(--active);
}

.prompt-transition-enter {
    opacity: 0;
    transform: scale(0) translate(-100%, -100%);
}

.prompt-transition-enter-active {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: all 500ms ease;
}

.prompt-transition-exit-active {
    opacity: 0;
    transform: scale(0) translate(-100%, -100%);
    transition: all 500ms ease;
}
