@import url("https://fonts.googleapis.com/css2?family=Besley&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --text: #080808;
    --border: #c7c7c7;
    --main: #e7e7e7;
    --alt-main: #c7c7c7;
    --inner: #eee8e8;
    --active: #8570e0;
    --fretboard-background: #eee8e8;
    --colored: #d3daff;
    --text2: #252525;
    --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#darktheme {
    --text: #f3f5f9;
    --border: #757575;
    --main: #1e1e1e;
    --alt-main: #474747;
    --inner: #616161;
    --fretboard-background: #474747;
    --active: #bd12e7;
    --colored: #66008f;
    --text2: #2b2b2b;
    --shadow: rgba(105, 105, 105, 0.2) 0px 8px 24px;
}

body {
    background: var(--main);
    color: var(--text);
    font-family: Besley;
}

button {
    border: none;
}

.content {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    height: 100%;
}

.prompt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: scale(1) translate(-50%, -50%);
    background: var(--inner);
    border-radius: 5px;
    overflow: auto;
    z-index: 2;
}

.prompt .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: var(--alt-main);
    color: var(--text);
}

.prompt .head button {
    background: var(--colored);
    color: var(--text);
    border-radius: 5px;
    min-width: 30px;
    height: 30px;
    margin-left: 5px;
    padding: 5px;
}

.prompt .head button:hover {
    background: var(--active);
}

.prompt .prompt-content {
    height: calc(100% - 48px);
}

.prompt .prompt-content form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.prompt .prompt-content form .inner {
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
}

.prompt .prompt-content form .inner .tunings {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 20px;
}

.prompt .prompt-content form .inner .tunings div,
.prompt .prompt-content form .inner .tunings div input {
    margin: 5px;
}

.prompt .prompt-content form .inner .tunings div label {
    padding: 5px;
}

.prompt .prompt-content form .inner label,
.prompt .prompt-content form .inner input {
    margin: 4px 0px;
}

.prompt .prompt-content form .inner .degree label,
.prompt .prompt-content form .inner .degree input,
.prompt .prompt-content form .inner .degree select {
    margin: 5px;
}

.prompt .prompt-content form #submit {
    min-height: 40px;
    background: var(--colored);
    border: none;
    margin-top: 10px;
}

.prompt .prompt-content form #submit:hover {
    background: var(--active);
}

.prompt-transition-enter {
    opacity: 0;
    transform: scale(0) translate(-100%, -100%);
}

.prompt-transition-enter-active {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
    transition: all 500ms ease;
}

.prompt-transition-exit-active {
    opacity: 0;
    transform: scale(0) translate(-100%, -100%);
    transition: all 500ms ease;
}
