.scaleDisplayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scaleName {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.scaleName h1 {
    font-family: "EB Garamond", serif;
    font-size: 55px;
    color: var(--active);
}

.tones {
    width: 100%;
}

.tones ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.tones ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    text-align: center;
    flex: 1;
    padding: 5px 0;
    line-height: 20px;
    border: 1px solid var(--border);
    border-radius: 5px;
    box-shadow: var(--shadow);
    margin: 5px 25px;
}
