$black: #050707;
$babyblue: #ecf1f2;
$white: #f3f5f9;
$yellow: #f4d800;
$coolgray: #53565a;
$darkgray: #2c2e2f;
$middlegray: #424649;

.scaleDisplayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scaleName {
    width: 100%;
    height: 60px;
    background: $black;
    display: flex;
    justify-content: center;
}

.scaleName h1 {
    padding: 10px 0;
    color: $babyblue;
}

.tones {
    width: 100%;
    position: relative;
    border-top: 5px solid $darkgray;
    border-bottom: 5px solid $darkgray;
}

.tones::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid $middlegray;
    border-bottom: 2px solid $middlegray;
}

.tones ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tones ul li {
    list-style: none;
    position: relative;
    display: inline-block;
    text-align: center;
    flex: 1;
    padding: 5px 0;
    border-left: 1px solid $darkgray;
    border-right: 1px solid $darkgray;
}

.tones ul li::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-right: 2px solid $middlegray;
    border-left: 2px solid $middlegray;
}